{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Password Change</title>
{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="text-center">
            <h1>Password change</h1>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
            <form method="POST">{% csrf_token %}
                {{ form|crispy }}
                <div class="text-center my-3">
                    <button type="submit" class="btn btn-success">Change my password.</button>
                </div>
            </form>
    </div>

{% endblock content %}