<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <header>
            <h1><a href="{% url 'home' %}">Cozy Library</a></h1>
            {% if user.is_superuser %}
            <h2><a href="{% url 'book_new' %}">+ Add New Book</a></h2>
            {% endif %}


            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </header>
        <section>
            {% block content %}
            {% endblock content %}
        </section>
        <footer>

        </footer>

    </body>
</html>