{% extends 'base.html' %}

{% block title %}
    <title>Cozy Library</title>
{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="text-center mt-4">
            <h2 class="mb-4">{{ category | capfirst }}</h2>
        </div>
        <div class="row justify-content-center gx-1 gy-3 border-top border-success border-3 pt-3">
            {% for book in books %}
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="{% url 'book_detail' book.pk %}">
                <div class="card mx-auto d-block" style="width: 200px;">
                    <img src="{{ book.cover_image.url}}" class="card-img-top rounded mx-auto d-block" alt="Cover photo" style="height: auto; width: 180px">
                    <div class="card-body">
                      <p class="card-text">{{ book.title }} | {{ book.author }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}

