{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Edit- {{ book.title }}</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Edit- {{ book.title }}</h1>
        </div>
        <form action="{% url 'book_update' book.pk %}" method="POST">{% csrf_token %}
            {{ form|crispy}}
            <div class="text-center my-3">
                <button type="submit" class="btn btn-success">Update Book</button>
            </div>
        </form>
    </div>
{% endblock content %}