{% extends 'base.html' %}

{% block title %}
    <title>Cozy Library -Home</title>
{% endblock title %}

{% block content %}
    <div class="container mb-5">
        <div class="text-center mt-4">
            <h2 class="mb-4">Personally recommended({{ books.count }} books).</h2>
        </div>
        <div class="row justify-content-center gx-1 gy-3 border-top border-success border-4 pt-3">
            {% for book in books %}
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-12">
                <a href="{% url 'book_detail' book.pk %}">
                <div class="card mx-auto d-block" style="width: 200px;">
                    <img src="{{ book.cover_image.url}}" class="card-img-top rounded mx-auto d-block" alt="Cover photo" style="height: auto; width: 180px">
                    <div class="card-body">
                      <p class="card-text">{{ book.title }} | {{ book.author }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1" >First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    
{% endblock content %}

